<% bg_color = local_assigns.fetch(:background, "transparent") %>

<header class="w-100">
  <nav class="navbar navbar-expand-sm navbar-dark py-0" style>
    <div class="container p-0">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag "logo.png", height:32, class: "d-inline-block align-top" %>
        <span class="brand-text"><span class="brand-pink">Cardia</span> Design</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% navitems.each do |navitem| %>
            <li class="nav-item <%= 'active' if current_page?(navitem[:href]) %>">
              <%= link_to navitem[:href], class: "nav-link" do %><%= navitem[:title] %>
                <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(navitem[:href]) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
