<div class="card mb-4" style="background-dark" >
  <div class="card-body">
    <h5 class="card-title"><%= company %></h5>
    <h6 class="card-title"><%= dates %></h6>
    <p class="card-text"><%= description %></p>
    <% unless elaboration.empty? %>
      <ul>
        <% elaboration.each do |e| %>
          <li><%= e[:text] %> <% if e[:link].present? %> <a href="<%= e[:link] %>"><%= icon("fas", "external-link-alt", class: "text-secondary") %></a> <% end %> </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>