<!DOCTYPE html>
<html>
  <head>
    <title>Cardia Design</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for?(:head) %>
        <%= yield(:head) %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <%= yield %>
  </body>
</html>
